.swordfish-map {
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-color: rgb(215, 130, 44);
}

.home-button {
  background-color: white;
  color: rgb(215, 130, 44);
  position: relative;
  left: 3%;
}
